@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 97vw;
    margin-bottom: -5px;
}

a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
}